html, body {
    height:100%;
}

body {
    background-image: url(../images/background.jpg);
}

ul {
    list-style: disc;
    margin-left: 25px;
}

.navbar-nav {
    margin-left: 0px;
}

.container-fluid {
    height: 100%;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

#header-row {
    margin-top: 20px;
}

#mainDisplay {
    width: 100%;
    position: absolute;               
} 

#footer {
    background-color: dimgray;
    border-top-style: solid;
    border-color: red;
    border-width: medium;
    color: white;
    text-align: center;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#contact-box{
    background-color: dimgray;
    color: white;
    text-align: center;
    border-style: solid;
    border-color: red;
    border-width: medium;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#footer-text {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#nav-column {
    padding-left: 0px;
    padding-right: 0px;
}

.dropdown-menu {
    background-color: red;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-link {
    color:white !important;
}

.dropdown-item {
    color:white !important;
}

.nav-page {
    border-right: solid;    
    border-color: white;
    border-width: medium;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.navbar {
    border-style: solid;
    border-color: dimgray;
    border-width: medium;
}

#about-me-link {
    padding-right: 15px !important;
    border-right: solid;    
    border-color: white;
    border-width: medium;
}

#connect-link {
    padding-left: 15px !important;
}

.drop-link {
    border-bottom-style: solid;
    border-color: white;
    border-width: thin;
    padding-left: 0px;
}

#project-box {
    background-color: dimgray;
    color:white;
    border-style: solid;
    border-color:red;
    border-width:thick;
    padding-bottom: 20px;
}

#about-me-header {
    text-align: center;
    margin-bottom: 10px
}

#pic-col {
    text-align: center;
    border-left: solid;
    border-color:white;
    border-width: thick;
    margin-bottom: 20px;
}

img {
    padding-bottom: 20px;
}

@media screen and (max-width: 767px){

    #pic-col {
        padding-top: 10px;
        border-left: none;
        border-top: solid;
        border-color:white;
        border-width: thick;
        margin-bottom: 0px;
    }

    #project-box{
        padding-left: 30px;
        padding-right: 30px;
    }

    .nav-page {
        border-right: none;
        border-bottom: solid;    
        border-color: white;
        border-width: medium;
    }

    #about-me-link {
        border-right: none;
        border-bottom: solid;    
        border-color: white;
        border-width: medium;
        padding-left: 15px !important;
    }

    .nav-item {
        padding-right: 50%;
    }

    h4{
        text-align: center;
    }
}